.cbre-c-arrowBtn{
    width:48px;
    height:48px;
    color:var(--color-primary-1);
    border-radius:50%;
    border:1.5px solid var(--color-primary-1);
    background:0 0;
    transition:all .25s cubic-bezier(.75,.02,.5,1)
}
.cbre-c-arrowBtn svg{
    stroke:currentColor
}
.cbre-c-arrowBtn:not(:last-child){
    margin-right:8px
}
.cbre-c-arrowBtn:focus{
    outline:0
}
.cbre-c-arrowBtn:hover,.cbre-c-arrowBtn:active{
    color:var(--color-white);
    border-color:var(--color-primary-1);
    background:var(--color-primary-1)
}
.cbre-c-arrowBtn:focus-visible{
    outline:0;
    box-shadow:0 0 0 4px rgba(var(--color-primary-2-rgb),0.6)
}
.cbre-c-arrowBtn.cbre-is-disabled,.cbre-c-arrowBtn[disabled],.cbre-c-arrowBtn[data-disabled]{
    pointer-events:none;
    opacity:.3
}
.cbre-c-arrowBtn--white{
    border-color:var(--color-white);
    color:var(--color-white)
}
.cbre-c-arrowBtn--white:hover,.cbre-c-arrowBtn--white:active{
    color:var(--color-primary-1);
    border-color:var(--color-white);
    background:var(--color-white)
}
