.cbre-c-linkList{
    position:relative
}
.cbre-c-linkList .component-content{
    padding-right:24px;
    padding-left:24px;
    width:100%;
    max-width:1440px;
    margin:0 auto;
    position:static
}
@media(min-width:768px){
    .cbre-c-linkList .component-content{
        padding-right:32px;
        padding-left:32px
    }
}
@media(min-width:1024px){
    .cbre-c-linkList .component-content{
        padding-right:56px;
        padding-left:56px
    }
}
@media(min-width:1024px){
    .cbre-c-linkList .component-content{
        position:relative
    }
}
.cbre-c-linkList ::-webkit-scrollbar{
    display:none
}
.cbre-c-linkList__tab{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    position:static
}
@media(min-width:768px){
    .cbre-c-linkList__tab{
        justify-content:space-between;
        flex-direction:row;
        align-items:center;
        position:relative
    }
}
.cbre-c-linkList__nav-btn{
    height:120px!important;
    top:64%!important;
    background-color:var(--color-white)!important;
    display:none!important
}
@media(min-width:1024px){
    .cbre-c-linkList__nav-btn{
        display:flex!important
    }
}
.cbre-c-linkList__nav-btn::before{
    background-image:none!important
}
@media(min-width:1024px){
    .cbre-c-linkList__nav-btn::before{
        width:48px!important
    }
}
.cbre-c-linkList__nav-btn:first-child{
    left:auto!important
}
.cbre-c-linkList__nav-btn:first-child::before{
    left:-48px!important;
    background-image:linear-gradient(to left,var(--color-white) -13.94%,rgba(255,255,255,0) 107.16%)!important
}
@media(min-width:1024px){
    .cbre-c-linkList__nav-btn:first-child{
        right:calc(50% - 250px)!important
    }
}
@media only screen and (min-width:1300px){
    .cbre-c-linkList__nav-btn:first-child{
        right:calc(50% - 400px)!important
    }
}
@media(min-width:1440px){
    .cbre-c-linkList__nav-btn:first-child{
        right:calc(50% - 460px)!important
    }
}
.cbre-c-linkList__nav-btn:last-child::before{
    right:0!important
}
@media(min-width:1024px){
    .cbre-c-linkList__nav-btn:last-child{
        right:calc(50% - 310px)!important
    }
}
@media only screen and (min-width:1300px){
    .cbre-c-linkList__nav-btn:last-child{
        right:calc(50% - 460px)!important
    }
}
@media(min-width:1440px){
    .cbre-c-linkList__nav-btn:last-child{
        right:calc(50% - 520px)!important
    }
}
@media(min-width:1440px){
    .cbre-c-linkList__nav-btn[disabled]{
        display:block!important;
        opacity:.5
    }
}
.cbre-c-linkList__nav-btn[disabled]:hover span,.cbre-c-linkList__nav-btn[disabled]:active span,.cbre-c-linkList__nav-btn[disabled]:focus-visible span{
    color:var(--color-primary-1)!important;
    background:0 0!important
}
@media(min-width:1024px){
    .cbre-c-linkList__nav-btn span{
        width:48px!important;
        height:48px!important
    }
}
.cbre-c-linkList__nav-btn span svg{
    transform:scale(1)!important
}
.cbre-c-linkList__tabhead{
    padding-top:40px;
    padding-bottom:24px;
    max-width:330px;
    display:flex;
    position:relative;
    overflow-x:auto
}
@media(min-width:768px){
    .cbre-c-linkList__tabhead{
        padding-top:64px;
        max-width:550px
    }
}
@media(min-width:1024px){
    .cbre-c-linkList__tabhead{
        padding-top:56px;
        max-width:calc(100% - 170px)
    }
}
@media only screen and (min-width:1300px){
    .cbre-c-linkList__tabhead{
        max-width:calc(100% - 310px)
    }
}
@media(min-width:1440px){
    .cbre-c-linkList__tabhead{
        max-width:calc(100% - 270px)
    }
}
.cbre-c-linkList__btnWrapper{
    margin-bottom:32px;
    margin-left:16px;
    display:flex;
    justify-content:flex-end;
    position:absolute;
    bottom:0;
    right:24px;
    left:auto;
    width:100%;
    max-width:100%
}
@media(min-width:768px){
    .cbre-c-linkList__btnWrapper{
        margin-top:40px;
        margin-bottom:0;
        position:relative;
        left:0;
        max-width:130px
    }
}
@media(min-width:1024px){
    .cbre-c-linkList__btnWrapper{
        margin-top:32px
    }
}
.cbre-c-linkList__btn{
    display:none
}
.cbre-c-linkList__btn.active{
    display:block
}
.cbre-c-linkList__tablist:not(:last-child){
    padding-right:16px;
    white-space:nowrap
}
@media(min-width:768px){
    .cbre-c-linkList__tablist:not(:last-child){
        padding-right:40px
    }
}
.cbre-c-linkList__tablink{
    font-family:financier display,georgia,serif;
    font-size:2.4rem;
    line-height:3rem;
    transition:-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1),-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    color:rgba(var(--color-primary-1-rgb),0.6);
    -webkit-text-decoration:underline solid transparent;
    text-decoration:underline solid transparent;
    text-underline-offset:6px;
    text-decoration-thickness:2px;
    padding-bottom:24px;
    white-space:nowrap
}
.cbre-c-linkList__tablink:hover,.cbre-c-linkList__tablink:active{
    -webkit-text-decoration-color:rgba(var(--color-primary-1-rgb),0.6);
    text-decoration-color:rgba(var(--color-primary-1-rgb),0.6)
}
@media(min-width:768px){
    .cbre-c-linkList__tablink{
        font-size:3.2rem;
        line-height:3.6rem
    }
}
.cbre-c-linkList__tablink.active{
    transition:-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1),-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    color:var(--color-primary-1);
    -webkit-text-decoration:underline solid transparent;
    text-decoration:underline solid transparent;
    text-underline-offset:6px;
    text-decoration-thickness:2px;
    border-bottom:2px solid var(--color-primary-1);
    padding-bottom:0
}
.cbre-c-linkList__tablink.active:hover,.cbre-c-linkList__tablink.active:active{
    -webkit-text-decoration-color:var(--color-primary-1);
    text-decoration-color:var(--color-primary-1)
}
.cbre-c-linkList__links{
    margin-top:32px;
    border-bottom:4px solid var(--color-primary-4);
    display:none
}
.cbre-c-linkList__links.active{
    padding-bottom:72px;
    display:block
}
@media(min-width:768px){
    .cbre-c-linkList__links.active{
        padding-bottom:0
    }
}
.cbre-c-linkList__link-list{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:100%
}
@media(min-width:1024px){
    .cbre-c-linkList__link-list{
        justify-content:flex-start;
        width:calc(100% + 32px)
    }
}
.cbre-c-linkList__link-item{
    flex:none;
    width:calc(50% - 6px)
}
@media(min-width:768px){
    .cbre-c-linkList__link-item{
        width:calc(50% - 12px)
    }
}
@media(min-width:1024px){
    .cbre-c-linkList__link-item{
        padding-right:32px;
        flex:1;
        width:auto;
        min-width:20%;
        max-width:25%
    }
    .cbre-c-linkList__link-item:first-child:nth-last-child(n+6),.cbre-c-linkList__link-item:first-child:nth-last-child(n+6)~.cbre-c-linkList__link-item{
        flex:none;
        width:20%
    }
}
.cbre-c-linkList__link a{
    font-weight:500;
    line-height:1em;
    letter-spacing:-.02em;
    padding-top:16px;
    padding-bottom:40px;
    transition:-webkit-text-decoration .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration .25s cubic-bezier(.75,.02,.5,1),-webkit-text-decoration .25s cubic-bezier(.75,.02,.5,1);
    position:relative;
    display:flex;
    justify-content:space-between;
    color:var(--color-primary-1);
    border-top:1px solid var(--color-primary-5)
}
@media(min-width:768px){
    .cbre-c-linkList__link a{
        font-size:2rem;
        letter-spacing:0
    }
}
.cbre-c-linkList__link a::before{
    transition:opacity .25s cubic-bezier(.75,.02,.5,1);
    content:'';
    display:block;
    position:absolute;
    top:-1px;
    left:0;
    width:100%;
    height:1px;
    background:var(--color-primary-1);
    opacity:0
}
.cbre-c-linkList__link a::after{
    margin-left:16px;
    margin-right:8px;
    flex:none;
    margin-top:4px;
    content:'';
    width:8px;
    height:14px;
    background-image:url(data:image/svg+xml;
    base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzE0JyB2aWV3Qm94PScwIDAgOCAxNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjMDAzZjJkJz48cGF0aCBkPSdNMSAxTDcgN0wxIDEzJyAvPjwvc3ZnPg==)
}
@media(min-width:768px){
    .cbre-c-linkList__link a::after{
        margin-right:16px
    }
}
@media(min-width:1024px){
    .cbre-c-linkList__link a::after{
        margin-right:8px
    }
}
.cbre-c-linkList__link a:hover::before,.cbre-c-linkList__link a:active::before{
    opacity:1
}
.cbre-t-cbreim .cbre-c-linkList__tablink{
    transition:-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1),-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    color:rgba(var(--color-secondary-1-rgb),0.6);
    -webkit-text-decoration:underline solid transparent;
    text-decoration:underline solid transparent;
    text-underline-offset:6px;
    text-decoration-thickness:2px
}
.cbre-t-cbreim .cbre-c-linkList__tablink:hover,.cbre-t-cbreim .cbre-c-linkList__tablink:active{
    -webkit-text-decoration-color:rgba(var(--color-secondary-1-rgb),0.6);
    text-decoration-color:rgba(var(--color-secondary-1-rgb),0.6)
}
.cbre-t-cbreim .cbre-c-linkList__tablink.active{
    transition:-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1),-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    color:var(--color-secondary-1);
    -webkit-text-decoration:underline solid transparent;
    text-decoration:underline solid transparent;
    text-underline-offset:6px;
    text-decoration-thickness:2px
}
.cbre-t-cbreim .cbre-c-linkList__tablink.active:hover,.cbre-t-cbreim .cbre-c-linkList__tablink.active:active{
    -webkit-text-decoration-color:var(--color-secondary-1);
    text-decoration-color:var(--color-secondary-1)
}
.cbre-t-cbreim .cbre-c-linkList__link a{
    color:var(--color-secondary-1)
}
