.cbre-c-searchHero{
    padding-top:112px;
    padding-bottom:64px;
    background:var(--color-white)
}
@media(min-width:768px){
    .cbre-c-searchHero{
        padding-top:128px;
        padding-bottom:72px
    }
}
@media(min-width:1024px){
    .cbre-c-searchHero{
        padding-top:208px;
        padding-bottom:104px
    }
}
.cbre-c-searchHero__wrapper{
    padding-right:24px;
    padding-left:24px;
    width:100%;
    max-width:1440px;
    margin:0 auto;
    max-width:none
}
@media(min-width:768px){
    .cbre-c-searchHero__wrapper{
        padding-right:32px;
        padding-left:32px
    }
}
@media(min-width:1024px){
    .cbre-c-searchHero__wrapper{
        padding-right:56px;
        padding-left:56px
    }
}
@media(min-width:1200px){
    .cbre-c-searchHero__wrapper{
        display:flex;
        align-items:flex-end
    }
}
.cbre-c-searchHero__title{
    font-family:financier display,georgia,serif;
    font-size:4.8rem;
    font-weight:400;
    line-height:1em;
    margin-bottom:64px;
    color:var(--color-primary-1)
}
@media(min-width:768px){
    .cbre-c-searchHero__title{
        font-size:7.6rem
    }
}
@media(min-width:1024px){
    .cbre-c-searchHero__title{
        font-size:10.4rem;
        line-height:10.6rem;
        letter-spacing:-.01em;
        margin-bottom:48px;
        margin-right:12.5%
    }
}
@media(min-width:1200px){
    .cbre-c-searchHero__title{
        margin-bottom:0
    }
}
.cbre-u-bgColor-primary3 .cbre-c-searchHero__title{
    color:var(--color-white)
}
.cbre-c-searchHero__searchBox{
    position:relative;
    top:16px;
    flex:1;
    padding-bottom:32px
}
