@media print{
    .cbre-c-wysiwyg{
        margin-bottom:24px!important
    }
}
.cbre-c-wysiwyg__wrapper{
    padding-right:24px;
    padding-left:24px;
    width:100%;
    max-width:1440px;
    margin:0 auto;
    font-size:2rem;
    line-height:3.2rem
}
@media(min-width:768px){
    .cbre-c-wysiwyg__wrapper{
        padding-right:32px;
        padding-left:32px
    }
}
@media(min-width:1024px){
    .cbre-c-wysiwyg__wrapper{
        padding-right:56px;
        padding-left:56px
    }
}
@media(min-width:1024px){
    .cbre-c-wysiwyg__wrapper{
        font-size:2.2rem;
        line-height:3.6rem
    }
}
@media(min-width:832px){
    .cbre-c-wysiwyg__wrapper{
        padding:0;
        max-width:768px
    }
}
@media print{
    .cbre-c-wysiwyg__wrapper{
        font-size:13px;
        line-height:1.5em;
        max-width:none;
        padding-right:10px!important;
        padding-left:10px!important
    }
}
.cbre-c-wysiwyg a{
    transition:-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    transition:text-decoration-color .25s cubic-bezier(.75,.02,.5,1),-webkit-text-decoration-color .25s cubic-bezier(.75,.02,.5,1);
    color:var(--color-primary-4);
    -webkit-text-decoration:underline solid transparent;
    text-decoration:underline solid transparent;
    text-underline-offset:4px;
    text-decoration-thickness:2px;
    -webkit-text-decoration-color:var(--color-primary-2);
    text-decoration-color:var(--color-primary-2)
}
.cbre-c-wysiwyg a:hover,.cbre-c-wysiwyg a:active{
    -webkit-text-decoration-color:var(--color-primary-4);
    text-decoration-color:var(--color-primary-4)
}
.cbre-c-wysiwyg a:hover,.cbre-c-wysiwyg a:active{
    -webkit-text-decoration-color:var(--color-primary-4);
    text-decoration-color:var(--color-primary-4)
}
.cbre-c-wysiwyg strong,.cbre-c-wysiwyg b{
    font-weight:600
}
.cbre-c-wysiwyg em,.cbre-c-wysiwyg i{
    font-style:italic
}
.cbre-c-wysiwyg h2{
    font-size:3.2rem;
    line-height:3.6rem;
    font-family:financier display,georgia,serif;
    margin-bottom:32px;
    color:var(--color-primary-1)
}
.cbre-c-wysiwyg h2:not(:first-child){
    margin-top:48px
}
@media(min-width:768px){
    .cbre-c-wysiwyg h2:not(:first-child){
        margin-top:72px
    }
}
@media(min-width:1024px){
    .cbre-c-wysiwyg h2{
        font-size:4.8rem;
        line-height:1em;
        margin-bottom:40px
    }
}
@media print{
    .cbre-c-wysiwyg h2{
        font-size:2.2rem;
        margin-bottom:16px
    }
    .cbre-c-wysiwyg h2:not(:first-child){
        margin-top:16px
    }
}
.cbre-c-wysiwyg h3{
    font-size:2.4rem;
    line-height:3rem;
    font-family:financier display,georgia,serif;
    margin-bottom:32px;
    color:var(--color-primary-1)
}
.cbre-c-wysiwyg h3:not(:first-child){
    margin-top:48px
}
@media(min-width:768px){
    .cbre-c-wysiwyg h3{
        font-size:3.2rem;
        line-height:3.6rem
    }
    .cbre-c-wysiwyg h3:not(:first-child){
        margin-top:72px
    }
}
@media(min-width:1024px){
    .cbre-c-wysiwyg h3{
        margin-bottom:40px
    }
}
@media print{
    .cbre-c-wysiwyg h3{
        font-size:1.8rem;
        line-height:1em;
        margin-bottom:16px
    }
}
.cbre-c-wysiwyg h4{
    font-size:2rem;
    line-height:3.2rem;
    font-family:calibre,arial,sans-serif;
    font-weight:500;
    padding-bottom:16px;
    color:var(--color-primary-1)
}
@media(min-width:1024px){
    .cbre-c-wysiwyg h4{
        font-size:2.2rem;
        line-height:3.6rem
    }
}
@media print{
    .cbre-c-wysiwyg h4{
        font-size:1.6rem;
        line-height:1em;
        padding-bottom:16px
    }
}
.cbre-c-wysiwyg p:not(:last-child),.cbre-c-wysiwyg li:not(:last-child){
    margin-bottom:24px
}
@media(min-width:768px){
    .cbre-c-wysiwyg p:not(:last-child),.cbre-c-wysiwyg li:not(:last-child){
        margin-bottom:32px
    }
}
@media print{
    .cbre-c-wysiwyg p:not(:last-child),.cbre-c-wysiwyg li:not(:last-child){
        margin-bottom:24px
    }
}
.cbre-c-wysiwyg ul li{
    padding-left:48px;
    position:relative
}
@media(min-width:768px){
    .cbre-c-wysiwyg ul li{
        padding-left:56px
    }
}
@media print{
    .cbre-c-wysiwyg ul li{
        padding-left:24px
    }
    .cbre-c-wysiwyg ul li:not(:last-child){
        margin-bottom:16px
    }
}
.cbre-c-wysiwyg ul li::before{
    content:'';
    position:absolute;
    left:0;
    top:.8em;
    border-top:2px solid var(--color-primary-1);
    width:24px
}
@media(min-width:1024px){
    .cbre-c-wysiwyg ul li::before::before{
        top:.9em
    }
}
@media print{
    .cbre-c-wysiwyg ul li::before{
        border-top:1px solid var(--color-primary-1);
        width:16px;
        top:.7em
    }
}
.cbre-c-wysiwyg ul li ul{
    margin-top:24px
}
@media(min-width:768px){
    .cbre-c-wysiwyg ul li ul{
        margin-top:32px
    }
}
.cbre-c-wysiwyg ul li ul li::before{
    width:16px
}
.cbre-c-wysiwyg ol{
    counter-reset:NumberList
}
.cbre-c-wysiwyg ol li{
    padding-left:48px;
    position:relative
}
@media(min-width:768px){
    .cbre-c-wysiwyg ol li{
        padding-left:56px
    }
}
.cbre-c-wysiwyg ol li::before{
    content:'';
    position:absolute;
    left:0;
    top:1.2em;
    background-color:var(--color-primary-1);
    height:1px;
    width:40px
}
.cbre-c-wysiwyg ol li:after{
    font-size:1.6rem;
    display:inline-block;
    position:absolute;
    top:-.1em;
    left:0;
    color:var(--color-primary-1);
    counter-increment:NumberList;
    content:counter(NumberList,decimal-leading-zero)
}
@media(min-width:1024px){
    .cbre-c-wysiwyg ol li:after{
        font-size:1.4rem;
        top:-.2em
    }
}
.cbre-c-wysiwyg ol li ol{
    margin-top:24px;
    counter-reset:Alpha
}
@media(min-width:768px){
    .cbre-c-wysiwyg ol li ol{
        margin-top:32px
    }
}
.cbre-c-wysiwyg ol li ol li:after{
    counter-increment:Alpha;
    content:counter(Alpha,lower-alpha)
}
@media(min-width:1024px){
    .cbre-c-wysiwyg ol li ol li:after{
        content:counter(Alpha,upper-alpha)
    }
}
.cbre-c-wysiwyg img{
    width:auto!important;
    height:auto!important
}
